body {
    background-color: hsl(216, 12%, 8%);
    font-family: "Overpass", sans-serif;
}

main {
    max-width: 22rem;
    padding: 0.5rem;
    margin: 25vh auto;
}

footer {
    font-size: 0.9rem;
    text-align: center;
    color: white;
}

footer a {
    color: hsl(228, 45%, 44%);
  }

.container {
    padding: 2.5rem;
    background-color: #1f2630;
    border-radius: 1rem;
}

h1,h2 {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: white;
}

.commentary {
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: hsl(217, 12%, 63%);
    margin-bottom: 1rem;
}

.star_circle, .rating_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color:hsl(217, 12%, 63%);
    background-color: #262f38;
}

.button_rate_row {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}



.rating_submit {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    font-weight: 700;
    color: white;
    background-color: hsl(25, 97%, 53%);
    border-radius: 2rem;
    border: none;
}

.rating_submit:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

.rating_circle:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
    cursor: pointer;
}

input:checked + label{
    background-color: hsl(217, 12%, 63%);
    color: white;
}

input[type="radio"] {
    visibility: hidden;
    position: fixed;
    pointer-events: none;
}

.thankYou {
    text-align: center;
}

.user_selection {
    font-size: 0.9rem;
    color:hsl(25, 97%, 53%);
    background-color:#262f38;
    border-radius: 2rem;
    margin: 2rem auto 0;
    padding: 1rem 0.5rem;
}

legend {
    visibility: hidden;
}

.content_hidden {
    display: none;
}